.form{
    font-size: 30px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.inp{
    background-color: cyan;
    display: none;
}

.h {
    font-size: 25px;
    text-align: center;
    font-family: Arial;
}

.submit{
    font-size:20px;
    background-color: cyan;
}

.Something{
    font-size:30px;
    display: none;
}
.thirtyl{
    background-color: darkblue;
}